<ul class="nav">
    <li class="nav-item active  ">
        <a class="nav-link" href="#">
        <i class="material-icons">wifi</i>
        <p>Wireless Access Points</p>
        </a>
    </li>
</ul>
