<div class='row'>
    <div class='col-md-12'>
        <div class='card'>
            <div class='card-header card-header-primary'>
                <h4 class='card-title'>Wireless Access Points</h4>
                <p class='card-categoy'>Real-time observation of wireless access points</p>
            </div>
            <div class='card-body'>
                <div class='table-responsive'>
                    <table class='table table-hover table-striped'>
                        <thead class='text-primary'>
                            <th>No</th>
                            <th>ESSID</th>
                            <th>BSSID</th>
                            <th>First Seen</th>
                            <th>Last Seen</th>
                            <th>CH.</th>
                            <th>Speed</th>
                            <th>Privacy</th>
                            <th>Cipher</th>
                            <th>Auth</th>
                            <th>Power</th>
                            <th>Beacons</th>
                        </thead>
                        <tbody id='results'>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    setInterval(() => {
        $.post('/aps/view', {'data': '' }, (data) => {
            
            var res = data.data
            //data[""0""].authentication
            if(res.length < 1){
                return
            }
            var html_view = '';
            for(var i = 0; i < res.length ; i++){
                var counter = i + 1
                html_view += '<tr><td>' + counter + '</td><td>' + res[i].essid + '</td><td>' + res[i].bssid + '</td><td>' + res[i].firstTimeSeen + '</td><td>' + res[i].lastTimeSeen + '</td><td>' + res[i].channel + '</td><td>' + res[i].speed + '</td><td>' + res[i].privacy + '</td><td>' + res[i].cipher + '</td><td>' + res[i].authentication + '</td><td>' + res[i].power + '</td><td>' + res[i].beacons + '</td></tr>'
            }
            $('#results').html(html_view)
        })
    }, 5000)
</script>